.icons a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.icons a:hover {
    color: rgb(40, 40, 40);
    /*dokončit, nějakej cooldown jakoby*/
}

.footer-text p {
    margin: 2px 0px;
}

.padding-bottom {
    margin-bottom: 2px;
}

#carouselExampleInterval {
    max-width: 800px;
}

#carouselExampleInterval .carousel-item img {
    height: auto;
    object-fit: cover;
}

.footer-middle-padding {
    padding: 0px 100px;
}

.background-image {
    position: relative;
    background-image: url('../images/gleb-big2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}